// .container {
//   min-height: 500px
// }

.v-navigation-drawer--mini-variant {
  .v-list__group__header__prepend-icon {
    justify-content: center;
  }
}

// table
.row-icon {
  i {
    position: relative;
    top: 3px;
  }
}

.text-color-initial,
.text-color-initial input {
  color: initial !important
}

.text-transform-initial {
  text-transform: initial !important;
}

.text-prepend-icon {
  position: relative;

  .icon {
    position: absolute;
    top: 23px;
    left: 0;
  }

  input {
    padding-left: 26px;
  }
}

.text-append-icon {
  position: relative;

  .icon {
    position: absolute;
    top: 23px;
    right: 0;
  }

  input {
    padding-right: 26px;
  }
}

.mid-center {
  text-align: center !important;
  // position: relative;
  // top: 39%;
  margin-top: 15%
}
